# config
minecraft/config/*.bak
minecraft/config/sodium-fingerprint.json
minecraft/config/sodium-options.json
minecraft/config/packetfixer.properties
minecraft/config/everycomp-hazardous.properties
minecraft/config/indium-renderer.properties
minecraft/config/lighty.config
minecraft/config/fabric/indigo-renderer.properties
minecraft/config/ironchests/defaults.properties
minecraft/config/roughlyenoughitems/pinyin.properties
minecraft/config/roughlyenoughitems/pinyin_double.properties
minecraft/config/sound_physics_remastered/occlusion.properties
minecraft/config/sound_physics_remastered/reflectivity.properties
minecraft/config/roughlyenoughitems/favorites.json5
minecraft/config/xaerominimap_entities.json
minecraft/config/spark/activity.json
minecraft/config/lambdynlights.toml
minecraft/config/fastload.properties
minecraft/config/auto-updater/updater_list.json
minecraft/config/iris.properties
minecraft/config/vmp.properties
minecraft/config/lodestone-client.toml

# root files
minecraft/heracles_options.json
minecraft/icon.png
minecraft/irisUpdateInfo.json
minecraft/knownkeys.txt
minecraft/options.txt
minecraft/patchouli_data.json
minecraft/polymer-resourcepack.zip
minecraft/rhino.local.properties
minecraft/usercache.json
minecraft/usernamecache.json
minecraft/emi.json

# root folders
minecraft/.fabric/
minecraft/.bobby/
minecraft/.mixin.out/
minecraft/.vscode/probe*
minecraft/.vscode/fluid-attributes.json
minecraft/.vscode/item-attributes.json
minecraft/.vscode/item-tag-attributes.json
minecraft/.vscode/lang-keys.json
minecraft/mods/.index
minecraft/coremods/
minecraft/crash-reports/
minecraft/./data/
minecraft/local/
minecraft/logs/
minecraft/moddata/
minecraft/modernfix/
minecraft/ModTranslations/
minecraft/patchouli_books/
minecraft/saves/
minecraft/schematics/
minecraft/screenshots/
minecraft/server-resource-packs/
minecraft/shaderpacks/
minecraft/texturepacks/
minecraft/Xaero*/
minecraft/xaero*/
minecraft/config/voicechat/voicechat-client.properties